@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


html{
    width: 1440px;
    height: 2491px;
    margin-top: -225px;
    margin-left: 709px;
}


/* Resetando o body */
body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #252525;
}
/* Resetando o body */


/* Cabeçalho */
header{
    width: 1440px;
    height: 605px;
    border-bottom: solid #33A8DB 1px;

    background-size: 1440px 732px;
    margin-top: -125px;
}

header{
    background-image: url(/assets/images/banner.png);
    background-color: #33A8DB;
    opacity: 10%;
}


/* Cabeçalho */


/* Conteúdo */
main{
    width: 1440px;
}

#course-content{
    width: 792px;
    height: 325px;
    margin-top: 723px;
    margin-left: 324px;
    gap: 24px;
}

#course-content h2 {
    width: 477px;
    height: 38px;
    font-weight: 700px;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 19%;
    color: #33A8DB;
}

/* Conteúdo */




/* Rodapé */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 170px;
    margin-top: 2321px;
    border:solid 1px #33A8DB;
}

.dio-logo{
    width: 310px;
    height: 44px;
    margin-top: 59px;
    margin-left: 565px;
}

footer p {
    width: 259px;
    height: 19px;
    margin-top: 113px;
    margin-left: 591px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

footer p a {
    font-weight: 700px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #33A8DB;
}
/* Rodapé */